astroid==2.11.6
attrs==21.4.0
dronekit==2.9.2
future==0.18.2
gitdb==4.0.9
GitPython==3.1.24
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
lxml==4.8.0
mccabe==0.6.1
monotonic==1.6
netifaces==0.11.0
numpy==1.22.1
packaging==21.3
paho-mqtt==1.6.1
platformdirs==2.4.1
pluggy==1.0.0
py==1.11.0
pymavlink==2.4.17
pyparsing==3.0.9
pytest==7.0.0
pyzmq==22.3.0
smmap==5.0.0
toml==0.10.2
tomli==2.0.1
typing-extensions==3.10.0.2
wrapt==1.13.3
